body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.central{
    background: rgba(211, 182, 21, 0.164);
    width: 400px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20%;
    gap: 10px;
}
.fundo{
    min-width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;
}
.central input{
    background: black;
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border: none;
    color: white;
}
.central button{
    background: black;
    color: white;
    height: 40px;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
}
